page-login {
    .background {
        //background: rgba(209, 255, 237, 0.5);
        //background: url('../assets/fondolinea.jpg') center;
        background-attachment: fixed;
        background-size: 100% 100%;
        overflow: hidden;
    }
    ion-icon {
        padding-right: 10px;
        font-size: 2.8rem;
        color: #F19584;
    }
    ion-item {
        border-radius: 3px !important;
        //color: rgba(19, 18, 18, 0) !important;
        background-color: rgba(255, 255, 255, .2) !important;
        font-size: 0.9em;
    }
    ion-card.card {
        box-shadow: none;
        background: rgba(242, 245, 242, 0.9);
        border-radius: 5px;
    }
    .logo {
        width: 100%;
        padding-top: 35%;
        padding-bottom: 0px;
        margin-bottom: 15px;
        background: url('../assets/fondoimg.png') top;
        ;
    }
    .imagen-logo {
        max-height: 130%;
        max-width: 130%;
        margin: 0 auto 0 auto;
        display: block;
    }
}